# Backend binaries
backend/app
backend/traefik-editor

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Certificates
*.pem
*.key
*.crt
certs/
acme.json

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local


dynamic.yml
traefik.yml
config/traefik.yml

ignore
old_frontend
frontend/webui
deploy.sh
temp
node_modules
run-app.ps1